[Desktop Entry]
Version=1.0
Type=Application
Name=File drawer
Comment=Simple HTTP based file server for local networks
Exec=filedrawer
Icon=green-fileopen
Path=
Terminal=false
StartupNotify=false
